{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-3xl mb-6 text-white">Reply to: {{ thread.title }}</h1>
<form method="post" enctype="multipart/form-data" class="space-y-4">
  {% csrf_token %}
  <div>
    {{ form.content.label_tag }}<br>
    {{ form.content }}
  </div>

  <div>
    <label class="block text-gray-200">Attachments</label>
    {{ formset.management_form }}
    {% for subform in formset %}
      <div class="mb-2">
        {{ subform.file.label_tag }}<br>
        {{ subform.file }}
      </div>
    {% endfor %}
  </div>

  <button type="submit" class="px-6 py-2 bg-blue-600 rounded hover:bg-blue-500 text-white">Post Reply</button>
</form>
{% endblock %}